* {
  font-family: Lato;
}

ngx-dropzone,
.custom-dropzone {
  margin: 20px;
}

.custom-dropzone {
  height: 250px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
}

.custom-dropzone.ngx-dz-hovered {
  border: 5px solid rgb(235, 79, 79);
}
