<h5 class="mb-4">Productos</h5>
<div class="row mb-3">
  <div class="col-lg-4 col-sm-4">
    <button type="button" class="btn btn-secondary btn-block mb-1">
      <i class="iconsminds-folder-add--"></i> Agregar
    </button>
    <app-form-product-modal></app-form-product-modal>
  </div>
  <div class="col-lg-4">
    <!-- <button type="button" class="btn btn-secondary btn-block mb-1">Agregar</button> -->
  </div>
  <div class="col-lg-4">
    <!-- <button type="button" class="btn btn-secondary btn-block mb-1">Agregar</button> -->
  </div>
</div>

<div class="row mb-2" *ngFor="let product of products">
  <div class="col-md-12 mb-4">
    <div class="card d-flex flex-row shadow">
      <a class="d-flex" routerLink="./">
        <img alt="Imagen" src="https://resources.sears.com.mx/medios-plazavip/fotos/productos_sears1/original/2887617.jpg" class="list-thumbnail responsive border-0 card-img-left" />
      </a>
      <div class="pl-2 d-flex flex-grow-1 min-width-zero">
        <div
          class="card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
          <a routerLink="./" class="w-40 w-sm-100">
            <p class="list-item-heading mb-1 truncate">Producto Name</p>
          </a>
          <p class="mb-1 text-muted text-small w-15 w-sm-100">SKU</p>
          <p class="mb-1 text-muted text-small w-15 w-sm-100">Precio</p>
          <div class="w-15 w-sm-100">
            <button type="button" class="btn btn-warning btn-sm mb-1 mr-2">
              Editar
            </button>
            <button type="button" class="btn btn-danger btn-sm mb-1">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
